body {
    background-image: url(graphics/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

#toolbar {
    position: sticky;
    top: 0px;
    background-color: #D9EEE1;
    padding: 10px 10px 10px 10px;
}